.fon {
  position: relative;
  background-image: url(../img/fon_desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100vh;
}

.firm-block {
  /*position: absolute;
  top: 0;
  left: 0;*/
  padding-top: 65px;
  margin-left: 72px;
  font-family: Raleway, Open Sans, Helvetica Neue, Arial, sans-serif;
}

.logo {
  display: block;
  width: 125px;
  height: 72px;
  margin-bottom: 72px;
  background-image: url(../img/K44_logo_white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  letter-spacing: 0.025em;
  margin-bottom: 58px;
}

a.email {
  text-decoration: none;
  color: rgb(107, 158, 178);
}

a.email:hover {
  text-decoration: underline;
}

@media (max-width: 767px)  {
  .logo {
    width: 62px;
    height: 53px;
    margin-bottom: 36px;
  }
  .firm-block {
    margin-left: 37px;
    padding-top: 33px;

  }
  .text{
    margin-bottom: 30px;
    font-size: 18px;
  }

  .t2 {
    max-width: 53%;
  }
}
